<!-- Launch Arguments -->

<launch>

    <!-- Run the map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(find platooning)/slam-maps/testmap.yaml" >
   </node>

    <!-- launch platooning algorithm/controllers for each turtlebot -->
    <include file="$(find platooning)/launch/single_robot.launch">
        <arg name="tb3_id"      default="tb3_0"/>
        <arg name="leader_id"   default="vehicle"/>
    </include>

   <include file="$(find platooning)/launch/single_robot.launch">
        <arg name="tb3_id"      default="tb3_1"/>
        <arg name="leader_id"   default="tb3_0"/>
    </include>

    <!-- Launch gnuradio client -->
    <!--<node pkg="platooning" name="gnuradio_client" type="gnuradio_client.py" output="screen">
    </node>-->

    <!-- Launch object detection for each robot (darknet_ros/yolov3) -->
    <!-- <include file="$(find object_detection)/launch/object_detection_main.launch">
    </include> -->

    <!-- Launch script to show the Prescan vehicle trajectory in Rviz -->
    <node pkg="object_detection" name="prescan_marker" type="marker_prescan.py" output="screen">
    </node>

    <!-- AMCL launch for each turtlebot -->
    <include file="$(find platooning)/launch/amcl_tb3_0.launch">
      <arg name="initial_pose_x"  default="0.5"/>
      <arg name="initial_pose_y"  default="0"/>
    </include>

    <include file="$(find platooning)/launch/amcl_tb3_1.launch">
      <arg name="initial_pose_x"  default="0"/>
      <arg name="initial_pose_y"  default="0"/>
    </include>

    <!-- Start RVIZ -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find platooning)/rviz_config/navigation.rviz" />
</launch>
