
<launch>

    <node pkg="robot_localization" type="ukf_localization_node" name="ukf_filter" clear_params="true">
        <rosparam command="load" file="$(find platooning)/config/sensor_filter.yaml" />
        <param name="imu0" value="imu"/>
        <param name="odom0" value="odom"/>
        <param name="world_frame" value="odom"/>
        <param name="base_link_frame" value="base_link"/>
    </node>

</launch>