
<launch>
    <arg name="tb3_id"/>
    <arg name="leader_id"/>

    <group ns = "$(arg tb3_id)">
      <node name="control_node" pkg="platooning" type="physical_node.py" output="screen">
          <remap from="/odom" to="/$(arg tb3_id)/amcl_pose"/>
          <remap from="/vehicle/odom" to="/$(arg leader_id)/amcl_pose"/>
      </node>
    </group>
</launch>
