
<launch>
    <arg name="model"/>
    <arg name="tb3_id"/>
    <arg name="leader_id"/>
    <arg name="tb3_x"/>
    <arg name="tb3_y"/>
    <arg name="tb3_z"/>
    <arg name="tb3_yaw"/>
    
     <group ns = "$(arg tb3_id)">
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="20.0" />
        <param name="tf_prefix" value="$(arg tb3_id)" />
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg tb3_id) -x $(arg tb3_x) -y $(arg tb3_y) -z $(arg tb3_z) -Y $(arg tb3_yaw) -param robot_description" />

        <include file="$(find platooning)/launch/sensor_filter.launch"/>
        <include file="$(find platooning)/launch/amcl.launch" />

        <node name="control_node" pkg="platooning" type="physical_node.py" output="screen" >
            <remap from="/odom" to="/odometry/filtered"/>
            <remap from="/vehicle/odom" to="$(arg leader_id)/odom"/>
        </node>
     </group>
</launch>